{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}" />
    <script src="{% static 'webapp/script.js' %}" defer></script>
  </head>
  <body>
    <form method="post" style="display: none">{% csrf_token %}</form>

    <button id="btn-ir-register">REGISTER</button>

    <div id="ir-modal" class="modal">
      <div class="modal-content">
        <input id="ir-name" placeholder="Enter IR name" />
        <button id="btn-ir-receive-register">RECEIVE & REGISTER</button>
      </div>
    </div>

    <ul>
      {% for signal in signals %}
      <li>
        {{ signal.name }}
        <button class="btn-ir-send" data-id="{{ signal.name }}">SEND</button>
      </li>
      {% empty %}
      <li>No registered IR.</li>
      {% endfor %}

      <li>
        LOCK
        <form method="post" action="{% url 'toggle_lock' %}">
          {% csrf_token %}
          <button type="submit">
            {% if lock.is_opened %}LOCK{% else %}OPEN{% endif %}
          </button>
        </form>
      </li>
    </ul>
  </body>
</html>

